<div class="col-lg-3 col-md-3 hidden-sm hidden-xs column">
    <div class=" col-lg-12 col-md-12 hidden-sm hidden-xs column" style="background-color:#fff;margin-bottom: 20px;">
        <div class="">
            <div class="htitle">
                <h4>最近更新</h4>
            </div>
            <div class="notice">
                <ul style="padding-inline-start: 0">
                    {{range $k,$v := .lastPosts}}
                        <li><a target="_blank" href="/article/{{$v.id}}" title="{{$v.text}}">{{$v.text}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>

    <div class=" col-lg-12 col-md-12 hidden-sm hidden-xs column" style="background-color:#fff;margin-bottom: 20px;">
        <div class="htitle">
            <h4>点击排行</h4>
        </div>
        <div class="paihang">
            <ul style="padding-inline-start: 0">
                {{range $k,$v := .lastPostRankings}}
                <li><i></i><a href="/article/{{$v.id}}" title="{{$v.text}}"
                              target="_blank">{{$v.text}}</a>
                {{end}}
            </ul>
        </div>
    </div>

    <div class=" col-lg-12 col-md-12 hidden-sm hidden-xs column" style="background-color:#fff;margin-bottom: 20px;">
        <div class="">
            <div class="htitle">
                <h4>最新评论</h4>
            </div>
            <div class="notice">
                <ul style="padding-inline-start: 0">
                    {{range $k,$v := .lastComments}}

                    {{end}}
                    <li>赞</li>
                    <li>赞二</li>
                    <li>赞三</li>
                </ul>
            </div>
        </div>
    </div>

    <div class=" col-lg-12 col-md-12 hidden-sm hidden-xs column" style="background-color:#fff ">
        <div class="htitle">
            <h4>我的名片</h4>
        </div>
        <div>
            <p>网名：Pack </p>
            <p>职业：专注Java/Go软件工程师 </p>
            <p>现居：广东省-深圳</p>
            <p>Email：qiangliujk@foxmail.com</p>
        </div>
    </div>
</div>
